body{
    background-color: #848484bf;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

header{
    display: flex;
    justify-content: space-between;
    font-size: small;
    min-height: 4vh;
}

header div{
    padding: 5px 0px 5px 5px;
}

header div span{
    padding: 7px 20px;
}

header div span:last-child:hover{
    background-color: rgb(245, 65, 33);
}

header div span:hover{
    background-color: rgb(215, 213, 213);
}

.maincontainer {
    background-color: rgb(192, 247, 247);
    display: grid;
    grid-template-columns: auto 320px; 
    min-height: 96vh;
}

.main{

}

.standard{
    display: flex;
    align-items: center;
}

.history{
    width: 15px;
    height: 15px;
    margin-left: auto;
    visibility: hidden;
}

.standard span{
    font-size: 20px;
    padding: 2px 12px;
}

.standard span:first-child:hover{
    background-color: rgb(215, 213, 213);
}

.content {
    display: flex;
    height: 35%;
    align-items: center;
    margin-right: 10px;
}

.zero {
    margin-left: auto;
    font-size: 60px;
}

.m span{
    font-size: 17px;
    margin-left: 50px;
}

.m span:first-child {
    margin-left: 30px;
}

.m span:last-child {
    visibility: hidden;
}

.num{
    margin-top: 15px;
    min-height: 420px;
    background-color: rgb(215, 213, 213);
    display: grid;
    grid-template-columns: repeat(5,1fr); 
}

.num>div{
    padding: 10px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #848484bf;  
}

.w{
    background-color: rgb(248, 247, 245);
    font-weight: bold;
}

.num>div:hover{
    background-color: rgb(185, 185, 185);
}

.number {
    margin-top: 15px;
    height: 420px;
    background-color: rgb(222, 220, 220);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    display: none;
}

.number>div {
    padding: 10px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(185, 185, 185);
}

.number>div:hover {
    background-color: rgb(185, 185, 185);
}

.top b{
    margin-left: 15px;
}

.top b:first-child {
    border-bottom: 3px solid rgb(255, 106, 0);
    padding-bottom: 4px;
}

/*media query*/

@media screen and (max-width:600px) {/*phon*/
    .right{
        display: none;
    }

    .maincontainer{
        height: 400px;
        grid-template-columns: 1fr;
    }

    .history{
        visibility: visible;
    }

    .m span:last-child {
        visibility: visible;
    }

    .num{
        display: none;
    }

    .number{
        display: grid;
    }

    .content {
        height: 10%;
    }
 
}