body{
    background-color: #848484bf;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    overflow: hidden;
}

header{
    display: flex;
    justify-content: space-between;
    font-size: small;
    min-height: 4vh;
}

header div{
    padding: 5px 0px 5px 5px;
}

header div span{
    padding: 7px 20px;
}

header div span:last-child:hover{
    background-color: rgb(245, 65, 33);
}

header div span:hover{
    background-color: rgb(215, 213, 213);
}

.maincontainer {
    display: grid;
    grid-template-columns: auto 320px; 
    min-height: 96vh;
}

.standard{
    display: flex;
    align-items: center;
    height: 5%;
}

.history{
    width: 15px;
    height: 15px;
    margin-left: auto;
    visibility: hidden;
    opacity: 0.5;
    padding-right: 5px;
}

.standard span{
    font-size: 20px;
    padding: 2px 12px;
}

.standard span:first-child:hover{
    background-color: rgb(215, 213, 213);
}

.content {
    display: flex;
    height: 30%;
    align-items: center;
    margin-right: 10px;
}

.zero {
    margin-left: auto;
    font-size: 50px;
}

.m{
    height: 5%;
    display: grid;
    grid-template-columns: repeat(5,90px);
}

.m span{
    font-size: 17px;
}

.m span:first-child {
    margin-left: 30px;
}

.m span:last-child {
    visibility: hidden;
    opacity: 0.5;
    margin-left: auto;
    padding-right: 5px;
}

.num{
    height: 60%;
    background-color: rgb(215, 213, 213);
    display: grid;
    grid-template-columns: repeat(5,1fr); 
}

.num>div{
    padding: 10px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #848484bf;  
}

.w{
    background-color: rgb(248, 247, 245);
    font-weight: bold;
}

.num>div:hover{
    background-color: rgb(185, 185, 185);
}

.number {
    height: 60%;
    background-color: rgb(222, 220, 220);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    display: none;
}

.number>div {
    padding: 10px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(185, 185, 185);
}

.number>div:hover {
    background-color: rgb(185, 185, 185);
}

.top b{
    margin-left: 15px;
}

.top b:first-child {
    border-bottom: 3px solid rgb(255, 106, 0);
    padding-bottom: 4px;
}

/*media query*/

/*height responsive*/
@media screen and (max-height:620px) {

    .content{
        height: 17%;
    }

    .num {
        height: 73%;
        display: none;
    }
        
    .number {
        height: 70%;
        display: grid;
    }
}

@media screen and (max-height:410px) {
    body{
        overflow-y: scroll;
    }
}

/* width responsive */
@media screen and (max-width:1024px) {
    .num {
        display: none;
    }

    .number {
        display: grid;
    }
}

@media screen and (max-width:740px) {
    .m {
        justify-content: space-between;
        grid-template-columns: repeat(5, minmax(30px, 200px));
    }

    .m span:first-child {
        margin-left: 5px;
    }

    .maincontainer{
        grid-template-columns: auto minmax(100px, 320px);
    }
}

@media screen and (max-width:500px) {
    .right {
        display: none;
    }

    .maincontainer {
        grid-template-columns: 1fr;
    }

    .history {
        visibility: visible;
    }

    .m span:last-child {
        visibility: visible;    
    }

    .m {
        grid-template-columns: repeat(6, 70px);
    }
}
